body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden; 
     
   
}
.loginmain {
    height: 585px;
    width: 344px;
    padding: 0px 42px;
    background-color: rgba(255, 255, 255);
    /* Transparent white background */
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(153, 153, 153);
}






.loginpara {
    width: 348px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;

}

.democ {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 28px;

}

.democ div a {
    text-decoration: none;
    color: grey;
}

.closelogin {
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    display: flex;
    justify-content: flex-end;
    left: 300px;
}

.google {
    display: flex;
    width: 100%;
    height: 17px;
    padding: 13px 0px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}

.google-logo {
    height: 22px;
    width: 20px;
    margin-left: 20px;
    background-image: url("images/google logo.png");
    background-size: cover;


}

.google-font {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonty {
    font-size: 14px;
    font-weight: 500;
    color: rgb(89, 89, 89);
    font-family: Arial, Helvetica, sans-serif;
}

.mail {
    display: flex;
    width: 100%;
    height: 17px;
    padding: 13px 0px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.mail-font {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-logo {
    padding-left: 22px;
}

.apple {
    display: flex;
    width: 100%;
    height: 17px;
    padding: 13px 0px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.apple-font {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apple-logo {
    padding-left: 22px;
    color: #333333;

}

.or {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    width: 100%;
    height: 108px;
    padding: 24px 0px 20px;

}

.sub-number input {
    height: 42px;
    width: 250px;

    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

.sub-number {
    display: flex;
    gap: 5px;
}

.ind {
    height: 12px;
    width: 18px;
    margin-top: 15px;
    background-image: url("images/india.png");
    background-size: cover;
}

.privacy {
    width: 100%;
    height: 45px;
    padding: 14px 0px;
padding-left: 10px;
}

.continue {
    /* Initially hide the button */
    width: 100%;
    height: 43px;
   
}
.continue-but{
display: none;
  height: 43px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  cursor: pointer;
}