body {
    margin: 0;
}

.nav {
    height: 64px;
    width: 100%;
    background-color: rgb(51, 53, 69);
    display: flex;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 120px;
}

.logo {
    margin-top: 5px;
    height: 34px;
    width: 134px;
    background-image: url("Images/Mainlogo.png");
    background-size: cover;
}

/* Search Box */
.nav-search {
    height: 36px;
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;

}

.search-box {
    height: 36px;
    width: 550px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1px 2px 1px 50px;
}

.search-icon {
    height: 34px;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but1 {
    margin-top: 10px;

}

.btndrop {
    height: 300px;
    width: 1000px;
}

.btnsearchbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 0.5px solid rgb(241, 241, 241);
}

.btnbar {
    width: 905px;
    height: 45px;
    background-color: #ffffff;
    text-align: initial;
    font-size: 0.8rem;
    border: none;
    outline: none;
}

.search-icon2 {
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 12px;
}

.btncity {
    padding-top: 30px;
    padding-bottom: 15px;
}

.city {
    display: flex;
    justify-content: space-evenly;
}

.newcities {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.signinbut {
    padding: 0px;
    margin-top: 15px;
    height: 45px;
}
.navbar2 {
    height: 40px;
    width: 100%;
    background-color: #1F2533;

}

.nav2main {
    display: flex;
    justify-content: space-evenly;
}

.nav2m1 {
    padding-top: 8px;
    padding-left: 100px;
    margin-right: 200px;
    width: 930px;
}

.nav2m2 {
    padding-top: 6px;
    padding-right: 100px;
    margin-left: 100px;

}

.but2 {
    height: 25px;
    width: 68px;
    background-color: #f84464;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.login {
    width: 380px;
    height: 425px;
    border: 1px solid #ededed;
    border-radius: 10px;
    position: absolute;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-head {
    text-align: center;
    background: 0 0;
    font-size: 18px;
    text-transform: none;
    color: #333;
    padding: 15px 35px;
    letter-spacing: 0;
    font-weight: 500;
    text-align: center;

}

.fb-button button {
    height: 42px;
    width: 315px;
    background-color: #3b57a1;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 31px;
    display: flex;
    gap: 55px;
    align-items: center;
}

.fb-button samp {
    margin-right: 20px;
}

.google-button button {
    height: 42px;
    width: 315px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    margin-left: 31px;
    display: flex;
    gap: 65px;
    align-items: center;
    margin-top: 8px;
    border: 1px solid #eaeaea;

}

.mobile input {
    height: 42px;
    width: 315px;
    margin-left: 29px;
    margin-top: 70px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

.terms span {
    color: #0078ff;
}

.terms p {
    color: grey;
    font-size: 12px;
    text-align: center;
}

.terms {
    margin-top: 37px;
}

.login-button button {
    height: 42px;
    width: 315px;
    background-color: #ccc;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 31px;
}
.login-button :hover{
    cursor: pointer;
    background-color: #f84464;
}

.privacy {
    height: 100px;
    background-color: rgb(242, 242, 242);
    margin-top: 800px;
    
}

.privacy dir {
    font-size: 13px;
    padding-inline: 20px;
    color: grey;
    

}

.privacy p {
    padding-left: 21px;
    padding-top: 20px;
    font-weight: bold;
}

.privacy-div span {
    color: #0078ff;
}
/* Footer section 1 */
.footer-section1 {
    height: 83px;
    width: 100%;
    background-color: #313035;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-sub1 {
    height: 53px;
    width: 1250px;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 128px;
    margin-right: 128px;
}

.t3 {
    margin-left: 200px;
}
/* Footer section 2 */
.footer-section2 {
    height: 112px;
    width: 100%;
    background-color: rgb(64, 64, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sub2 {
    height: 82px;
    width: 1250px;
    display: flex;
    justify-content: space-evenly;
}
/* Footer section 3 */
.footer-section3 {
    height: 500px;
    width: 100%;
    background-color: #333338;
}

.footer-sub3 {
    height: 94px;
    width: 1250;
    padding-top: 10px;
    padding-left: 128px;
    padding-right: 128px;

}

.o2main {
    height: 36px;
    width: 1250px;
    display: flex;
    justify-content: left;

}

.oa {
    text-decoration: none;
    font-size: 11px;
    color: #7F7F7F;
    margin: 0px 5px 5px 0px;
    padding: 0px 5px 0px 0px;
    border-right: 1px solid #7f7f7f;
}

.oa:hover {
    color: #ffffff;
}
/* Footer section 4 */
.footer-section4 {
    height: 283px;
    width: 100%;
    padding: 0px 24px 20px;
    background-color: #333338;
}

.footer-sub41 {
    height: 125px;
    width: 1488px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.line1 {
    height: 1px;
    width: 667px;
    background-color: #5d5d5f;

}

.footlogo {
    height: 34px;
    width: 115px;
    background-image: url("Images/img1.png");
    background-size: cover;
}

.line2 {
    height: 1px;
    width: 667px;
    background-color: #5d5d5f;
}

.footer-sub42 {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.x1{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333338;
    background-color:rgb(93,93,95);
    font-size: 18px;
    border-radius: 100%;
}
.x1:hover{
    background-color: #f5f5f5;
}

.footer-sub43{
    height: 93px;
    width: 1488px;
    padding: 30px;
   
}
.p43{
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}